@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?19mhsk');
  src:  url('../fonts/icomoon.eot?19mhsk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?19mhsk') format('truetype'),
    url('../fonts/icomoon.woff?19mhsk') format('woff'),
    url('../fonts/icomoon.svg?19mhsk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scissors:before {
  content: "\e900";
}
.icon-barber:before {
  content: "\e901";
}
.icon-barber-1:before {
  content: "\e902";
}
.icon-barbershop:before {
  content: "\e903";
}
.icon-scissors-1:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-calendar-1:before {
  content: "\e906";
}
.icon-mustache:before {
  content: "\e907";
}
.icon-hairstyle:before {
  content: "\e908";
}
.icon-beards:before {
  content: "\e909";
}
